<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ubicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">¿Dónde nos ubicamos?</ion-title>
    </ion-toolbar>
  </ion-header>
    <!-- Logística integral -->
    <div class="content-container">
      <div class="right-content">
        <h1>Puerto Montt</h1>
        <p>Calle 1, bodega N°13, Parque Industrial, Puerto Montt.
          Contacto: Carlos Rodríguez
          Horario de atención a publico:
          09:00 a 17:00</p>
        <ion-button expand="block" type="submit" href="https://www.google.com/maps?q=Puerto+Montt">Ir a maps</ion-button>
      </div>
      <img src="assets/Camion-Juan-diaz.jpg" alt="Imagen" class="right-image">
    </div>
    <!-- Logística integral -->
    <div class="content-container">
      <div class="right-content">
        <h1>Santiago</h1>
        <p>Av. Cerámica 2371, bodegas 4 y 5 Edificio Nº13, Megacentro Carrascal, Cerro Navia.
          Contacto: German Espinoza
          horario de atención a publico:
          09:00 a 17:00</p>
        <ion-button expand="block" type="submit" href="https://www.google.com/maps?q=Puerto+Montt">Ir a maps</ion-button>
      </div>
      <img src="assets/Camion-Juan-diaz.jpg" alt="Imagen" class="right-image">
    </div>
    <!-- Logística integral -->
    <div class="content-container">
      <div class="right-content">
        <h1>Chiloe</h1>
        <p>Contacto: Carlos Rodriguez</p>
        <ion-button expand="block" type="submit" href="https://www.google.com/maps?q=Puerto+Montt">Ir a maps</ion-button>
      </div>
      <img src="assets/Camion-Juan-diaz.jpg" alt="Imagen" class="right-image">
    </div>
    <!-- Pie de página con copy -->
    <footer class="footer">
      <p>&copy; 2024 Transportes , todos los derechos reservados.</p>
      <button mat-button color="warn" (click)="cerrarSesion()">Cerrar Sesión</button>
    </footer>
</ion-content>
