<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/logo.png" alt="Education PRO" height="30">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container">
    <h1 class="greeting">Hola, {{ usuario.nombre }}</h1>
    <ion-searchbar placeholder="Buscar orden de transporte" class="custom-searchbar"></ion-searchbar>
  </div>

  <div class="menu-cards">
    <ion-card class="menu-item" (click)="editarPerfil()">
      <div class="icon-container">
        <ion-icon name="car-outline"></ion-icon>
        <div class="plus-icon">+</div>
      </div>
      <h2>Ingresar envíos</h2>
      <p>Registra los datos y deja todo listo antes de ir a la sucursal.</p>
    </ion-card>

    <ion-card class="menu-item" (click)="verEstadisticas()">
      <div class="icon-container">
        <ion-icon name="person-outline"></ion-icon>
        <div class="plus-icon">+</div>
      </div>
      <h2>Pedir retiro a domicilio</h2>
      <p>Agenda cuándo y dónde retiramos tu envío.</p>
    </ion-card>

    <ion-card class="menu-item">
      <div class="icon-container">
        <ion-icon name="cube-outline"></ion-icon>
        <div class="plus-icon">+</div>
      </div>
      <h2>Historial de envíos y retiros</h2>
      <p>Registra el detalle de todos tus envíos y retiros.</p>
    </ion-card>
  </div>

  <ion-footer class="app-footer">
    <ion-toolbar>
      <ion-buttons>
        <ion-button>
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-button>
        <ion-button>
          <ion-icon name="location"></ion-icon>
          <ion-label>Sucursales</ion-label>
        </ion-button>
        <ion-button (click)="irACotizar()">
          <ion-icon name="calculator-outline"></ion-icon>
          <ion-label>Cotizar</ion-label>
        </ion-button>
        <ion-button (click)="cerrarSesion()">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>